ENVIRONMENT=local
MODE=DEV

PROJECT_NAME=Mailer

REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TLS=True
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@gmail.com
EMAILS_FROM_NAME=Mailer
